textarea {
  width: 100%;
  height: 279px;
}

input, textarea {
  border: 0;
  color: white;
  padding: 10px;
  background: #4b5456;
}




.voice{
  font-size: 1.5rem;
}

@media (min-width:650px) {
.voice{
  font-size: 4rem;
}
}
